$backgroundBtn: #ffc85e;

.header__container {
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0px 14px 0px;
}
.header__left-block {
  display: flex;
}

.left-block__item {
  display: flex;
  margin-right: 40px;
  a,
  b {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #111111;
  }
  p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 130.02%;
    color: #3f4e65;
  }
}

.left-block__wrapper {
  display: flex;
  flex-direction: column;
}

.left-block__image {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.header__navigation {
}
.navigation {
}
.navigation__body {
}
.menu {
  display: flex;
  gap: 20px;
}
.menu__item {
}
.menu__link {
  color: #3f4e65;
}

.header__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__btn {
  background: $backgroundBtn;
  border-radius: 79px;
  height: 59px;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  line-height: 17px;
  transition: background 0.3s ease;

  &:hover,
  &:focus {
    background: lighten($backgroundBtn, 6);
  }
}
.header__btn--catalog {
  width: 192px;
}
.header__btn--price {
  width: 200px;
}
.search {
  height: 59px;
  background: #ededed;
  border-radius: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  input {
    border: none;
    outline: none;
    background: transparent;
  }
}
.header__search {
  width: 263px;
  padding-right: 10px;
  input {
    padding: 20px 0px 20px 20px;
  }
}

.search__image {
  background: $backgroundBtn;
  border-radius: 100%;
  width: 39px;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-contacts {
  display: flex;
  align-items: center;
  &__left {
  }
  &__right {
  }
}
