@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import "./components/Header";
@import "./components/Catalog";
@import "./components/Categories";
@import "./components/ProductBlock";
@import "./components/Filter";
@import "./components/Pagination";
@import "./components/Footer";

*,
::before,
::after {
  padding: 0;
  margin: 0px 0px 0px 0px;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  background-color: #fff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 1363px;
  margin: 0px auto;
  padding: 0px 10px;
}

.sort-icon {
  transform: rotate(180deg);
}
